body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav span {
  margin: 20px;
  text-decoration: underline;
}
